<!DOCTYPE html>
<html lang="fr">
   <head>
      <title>Infos sur les requins</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <link href="css/styles.css" rel="stylesheet">
      <link href='https://fonts.googleapis.com/css?family=Merriweather:400,700' rel='stylesheet' type='text/css'>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
   </head>
   <nav class="navbar navbar-inverse navbar-static-top">
      <div class="container">
         <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Basculer la navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Tout sur les requins</a>
         </div>
         <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav mr-auto">
               <li><a href="/">Accueil</a></li>
               <li class="active"><a href="/sharks">Requins</a></li>
            </ul>
         </div>
      </div>
   </nav>
   <div class="jumbotron text-center">
      <h1>Infos sur les requins</h1>
   </div>
   <div class="container">
         <div class="row">
         <div class="col-md-6">
            <p>
            <div class="caption">Certains requins sont connus pour être dangereux pour l'homme, mais beaucoup d'autres ne le sont pas.</div>
            <!-- image removed -->
            </p>
         </div>
         <div class="col-md-6">
            <p>
            <div class="caption">D'autres requins sont considérés comme inoffensifs et non menaçants.</div>
            <!-- image removed -->
            </p>
         </div>
      </div>
    </div>
   </body>
</html>
